 .u-section-1 {
  background-image: url("images/loop-bkg-2.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 200px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    font-size: 2.375rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-bottom: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 576px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 100%;
  margin: 60px 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 282px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  margin: 0 0 10px;
}

.u-section-2 .u-image-1 {
  width: 55px;
  height: 55px;
  margin: auto 0 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 282px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  margin: 0;
}

.u-section-2 .u-text-4 {
  font-size: 1rem;
  margin: 0 0 10px;
}

.u-section-2 .u-image-2 {
  width: 55px;
  height: 55px;
  margin: auto 0 0 auto;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 282px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  margin: 0;
}

.u-section-2 .u-text-6 {
  font-size: 1rem;
  margin: 0 0 10px;
}

.u-section-2 .u-image-3 {
  width: 55px;
  height: 55px;
  margin: auto 0 0 auto;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 282px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-7 {
  margin: 0;
}

.u-section-2 .u-text-8 {
  font-size: 1rem;
  margin: 0 0 10px;
}

.u-section-2 .u-image-4 {
  width: 55px;
  height: 55px;
  margin: auto 0 0 auto;
}

.u-section-2 .u-layout-wrap-2 {
  width: 100%;
  margin: 20px 0 60px;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 282px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-9 {
  margin: 0;
}

.u-section-2 .u-text-10 {
  font-size: 1rem;
  margin: 0 0 10px;
}

.u-section-2 .u-image-5 {
  width: 55px;
  height: 55px;
  margin: auto 0 0 auto;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 282px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-text-11 {
  margin: 0;
}

.u-section-2 .u-text-12 {
  font-size: 1rem;
  margin: 0;
}

.u-section-2 .u-image-6 {
  width: 55px;
  height: 55px;
  margin: 71px 0 0 auto;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 282px;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-text-13 {
  margin: 0;
}

.u-section-2 .u-text-14 {
  font-size: 1rem;
  margin: 0 0 10px;
}

.u-section-2 .u-image-7 {
  width: 55px;
  height: 55px;
  margin: auto 0 0 auto;
}

.u-section-2 .u-layout-cell-8 {
  min-height: 282px;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

.u-section-2 .u-text-15 {
  margin: 0;
}

.u-section-2 .u-text-16 {
  font-size: 1rem;
  margin: 0 0 10px;
}

.u-section-2 .u-image-8 {
  width: 55px;
  height: 55px;
  margin: auto 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 532px;
  }

  .u-section-2 .u-text-2 {
    margin-bottom: 0;
  }

  .u-section-2 .u-image-1 {
    width: 60px;
    height: 60px;
    margin-top: 18px;
  }

  .u-section-2 .u-text-4 {
    margin-bottom: 0;
  }

  .u-section-2 .u-image-2 {
    width: 60px;
    height: 60px;
    margin-top: 56px;
  }

  .u-section-2 .u-text-6 {
    margin-bottom: 0;
  }

  .u-section-2 .u-image-3 {
    width: 60px;
    height: 60px;
    margin-top: 18px;
  }

  .u-section-2 .u-text-8 {
    margin-bottom: 0;
  }

  .u-section-2 .u-image-4 {
    width: 60px;
    height: 60px;
    margin-top: 56px;
  }

  .u-section-2 .u-text-10 {
    margin-bottom: 0;
  }

  .u-section-2 .u-image-5 {
    width: 60px;
    height: 60px;
    margin-top: 56px;
  }

  .u-section-2 .u-image-6 {
    width: 60px;
    height: 60px;
    margin-top: 28px;
  }

  .u-section-2 .u-text-14 {
    margin-bottom: 0;
  }

  .u-section-2 .u-image-7 {
    width: 60px;
    height: 60px;
    margin-top: 75px;
  }

  .u-section-2 .u-text-16 {
    margin-bottom: 0;
  }

  .u-section-2 .u-image-8 {
    width: 60px;
    height: 60px;
    margin-top: 75px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-image-1 {
    margin-top: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-4 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-image-2 {
    margin-top: 30px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-text-6 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-image-3 {
    margin-top: 30px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-text-8 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-image-4 {
    margin-top: 30px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 198px;
  }

  .u-section-2 .u-text-10 {
    font-size: 0.875rem;
    margin-bottom: 30px;
  }

  .u-section-2 .u-image-5 {
    margin-top: 19px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 198px;
  }

  .u-section-2 .u-text-12 {
    font-size: 0.875rem;
    margin-bottom: 30px;
  }

  .u-section-2 .u-image-6 {
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 157px;
  }

  .u-section-2 .u-text-14 {
    font-size: 0.875rem;
    margin-bottom: 30px;
  }

  .u-section-2 .u-image-7 {
    margin-top: auto;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 157px;
  }

  .u-section-2 .u-text-16 {
    font-size: 0.875rem;
    margin-bottom: 30px;
  }

  .u-section-2 .u-image-8 {
    margin-top: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1834px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-top: 21px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1639px;
  }
}@font-face {
  font-family: 'UNIQAGalano-SemiBold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/UNIQAGalano-SemiBold.woff);
}@font-face {
  font-family: 'UNIQAGalano-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/UNIQAGalano-Regular.woff);
}