 .u-section-1 {
  background-image: url("images/loop-bkg-2.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 200px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 47px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 174px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.375rem;
    margin-top: 58px;
    margin-bottom: 58px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 38px;
    margin-bottom: 38px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 126px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 260px;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  margin: 30px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  margin: 24px 0 30px;
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.875rem;
  }
}

.u-block-5aff-5:not([data-block-selected]):not([data-cell-selected]),
.u-block-5aff-5:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-5aff-5:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-5aff-5:not([data-block-selected]):not([data-cell-selected]).u-block-5aff-5:not([data-block-selected]):not([data-cell-selected]).u-block-5aff-5:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #d8e4f6 !important;
}

.u-block-5aff-9:not([data-block-selected]):not([data-cell-selected]),
.u-block-5aff-9:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-5aff-9:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-5aff-9:not([data-block-selected]):not([data-cell-selected]).u-block-5aff-9:not([data-block-selected]):not([data-cell-selected]).u-block-5aff-9:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #d8e4f6 !important;
}

.u-block-5aff-13:not([data-block-selected]):not([data-cell-selected]),
.u-block-5aff-13:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-5aff-13:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-5aff-13:not([data-block-selected]):not([data-cell-selected]).u-block-5aff-13:not([data-block-selected]):not([data-cell-selected]).u-block-5aff-13:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #d8e4f6 !important;
}

.u-block-5aff-17:not([data-block-selected]):not([data-cell-selected]),
.u-block-5aff-17:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-5aff-17:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-5aff-17:not([data-block-selected]):not([data-cell-selected]).u-block-5aff-17:not([data-block-selected]):not([data-cell-selected]).u-block-5aff-17:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #d8e4f6 !important;
}

.u-block-5aff-21:not([data-block-selected]):not([data-cell-selected]),
.u-block-5aff-21:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-5aff-21:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-5aff-21:not([data-block-selected]):not([data-cell-selected]).u-block-5aff-21:not([data-block-selected]):not([data-cell-selected]).u-block-5aff-21:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #d8e4f6 !important;
}

.u-block-5aff-25:not([data-block-selected]):not([data-cell-selected]),
.u-block-5aff-25:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-5aff-25:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-5aff-25:not([data-block-selected]):not([data-cell-selected]).u-block-5aff-25:not([data-block-selected]):not([data-cell-selected]).u-block-5aff-25:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #d8e4f6 !important;
}.u-section-3 .u-sheet-1 {
  min-height: 570px;
}

.u-section-3 .u-list-1 {
  margin: 60px 0 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 220px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-gap: 10px;
}

.u-section-3 .u-list-item-1 {
  transition-duration: 0.5s;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 1.375rem;
  margin: 0;
}

.u-section-3 .u-image-1 {
  width: 60px;
  height: 60px;
  margin: auto 0 0 auto;
}

.u-section-3 .u-list-item-2 {
  transition-duration: 0.5s;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  font-size: 1.375rem;
  margin: 0;
}

.u-section-3 .u-image-2 {
  width: 60px;
  height: 60px;
  margin: auto 0 0 auto;
}

.u-section-3 .u-list-item-3 {
  transition-duration: 0.5s;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  font-size: 1.375rem;
  margin: 0;
}

.u-section-3 .u-image-3 {
  width: 60px;
  height: 60px;
  margin: auto 0 0 auto;
}

.u-section-3 .u-list-2 {
  margin: 10px 0 60px;
}

.u-section-3 .u-repeater-2 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 220px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-gap: 10px;
}

.u-section-3 .u-list-item-4 {
  transition-duration: 0.5s;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  font-size: 1.375rem;
  margin: 0;
}

.u-section-3 .u-image-4 {
  width: 60px;
  height: 60px;
  margin: auto 0 0 auto;
}

.u-section-3 .u-list-item-5 {
  transition-duration: 0.5s;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  font-size: 1.375rem;
  margin: 0;
}

.u-section-3 .u-image-5 {
  width: 60px;
  height: 60px;
  margin: auto 0 0 auto;
}

.u-section-3 .u-list-item-6 {
  transition-duration: 0.5s;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-text-6 {
  font-size: 1.375rem;
  margin: 0;
}

.u-section-3 .u-image-6 {
  width: 60px;
  height: 60px;
  margin: auto 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 512px;
  }

  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 191px;
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
  }

  .u-section-3 .u-image-1 {
    width: 88px;
  }

  .u-section-3 .u-image-2 {
    width: 88px;
  }

  .u-section-3 .u-image-3 {
    width: 88px;
  }

  .u-section-3 .u-list-2 {
    margin-bottom: 2px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-2 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 191px;
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
    min-height: 220px;
    grid-auto-columns: calc(33.3333% - 6.66667px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-image-1 {
    width: 60px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-image-2 {
    width: 60px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-image-3 {
    width: 60px;
  }

  .u-section-3 .u-list-2 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 60px;
  }

  .u-section-3 .u-repeater-2 {
    grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
    min-height: 220px;
    grid-auto-columns: calc(33.3333% - 6.66667px);
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1034px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-repeater-2 {
    grid-template-columns: repeat(1, 100%);
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 998px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-repeater-2 {
    grid-template-columns: 100%;
  }
}

.u-section-3 .u-list-item-3,
.u-section-3 .u-list-item-3:before,
.u-section-3 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-3.u-list-item-3.u-list-item-3:hover:before {
  background-color: #d8e4f6 !important;
}

.u-section-3 .u-list-item-2,
.u-section-3 .u-list-item-2:before,
.u-section-3 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-2.u-list-item-2.u-list-item-2:hover:before {
  background-color: #d8e4f6 !important;
}

.u-section-3 .u-list-item-1,
.u-section-3 .u-list-item-1:before,
.u-section-3 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-1.u-list-item-1.u-list-item-1:hover:before {
  background-color: #d8e4f6 !important;
}

.u-block-3168-17:not([data-block-selected]):not([data-cell-selected]),
.u-block-3168-17:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-3168-17:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-3168-17:not([data-block-selected]):not([data-cell-selected]).u-block-3168-17:not([data-block-selected]):not([data-cell-selected]).u-block-3168-17:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #d8e4f6 !important;
}

.u-section-3 .u-list-item-4,
.u-section-3 .u-list-item-4:before,
.u-section-3 .u-list-item-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-4.u-list-item-4.u-list-item-4:hover:before {
  background-color: #d8e4f6 !important;
}

.u-section-3 .u-list-item-5,
.u-section-3 .u-list-item-5:before,
.u-section-3 .u-list-item-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-5.u-list-item-5.u-list-item-5:hover:before {
  background-color: #d8e4f6 !important;
}

.u-section-3 .u-list-item-6,
.u-section-3 .u-list-item-6:before,
.u-section-3 .u-list-item-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-list-item-6.u-list-item-6.u-list-item-6:hover:before {
  background-color: #d8e4f6 !important;
}

.u-block-3168-35:not([data-block-selected]):not([data-cell-selected]),
.u-block-3168-35:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-3168-35:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-3168-35:not([data-block-selected]):not([data-cell-selected]).u-block-3168-35:not([data-block-selected]):not([data-cell-selected]).u-block-3168-35:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #d8e4f6 !important;
}@font-face {
  font-family: 'UNIQAGalano-SemiBold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/UNIQAGalano-SemiBold.woff);
}@font-face {
  font-family: 'UNIQAGalano-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/UNIQAGalano-Regular.woff);
}