 .u-section-1 {
  background-image: url("images/loop-bkg-2.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 200px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 60px 0;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    font-size: 2.375rem;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 396px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  margin: 30px 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 3px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 290px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 70px;
  height: 70px;
  margin: auto 0 auto auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.625rem;
  margin: -30px auto auto 0;
}

.u-section-2 .u-text-3 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 1rem;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 290px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 70px;
  height: 70px;
  margin: 0 0 0 auto;
}

.u-section-2 .u-text-4 {
  font-size: 1.625rem;
  margin: -30px auto 0 0;
}

.u-section-2 .u-text-5 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 1rem;
}

.u-section-2 .u-text-6 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 2.25rem;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: -30px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 252px;
    --radius: 20px;
  }

  .u-section-2 .u-layout-cell-2 {
    --radius: 20px;
    min-height: 252px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 206px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    margin-bottom: 30px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    width: 60px;
    height: 60px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    margin-top: -10px;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    width: 60px;
    height: 60px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5rem;
    margin-top: -10px;
  }

  .u-section-2 .u-text-5 {
    font-size: 0.875rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.875rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 187px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -30px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 345px;
}

.u-section-3 .u-text-1 {
  margin: 29px 0 0;
}

.u-section-3 .u-list-1 {
  margin: 30px 0 0;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 179px;
  grid-gap: 10px;
}

.u-section-3 .u-list-item-1 {
  --radius: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 70px;
  height: 70px;
  margin: auto;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  margin: 30px auto 0;
}

.u-section-3 .u-list-item-2 {
  --radius: 10px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  width: 70px;
  height: 70px;
  margin: auto;
}

.u-section-3 .u-text-3 {
  font-size: 1rem;
  margin: 30px auto 0;
}

.u-section-3 .u-list-item-3 {
  --radius: 10px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  width: 70px;
  height: 70px;
  margin: auto;
}

.u-section-3 .u-text-4 {
  font-size: 1rem;
  margin: 30px auto 0;
}

.u-section-3 .u-list-item-4 {
  --radius: 10px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  width: 70px;
  height: 70px;
  margin: auto;
}

.u-section-3 .u-text-5 {
  font-size: 1rem;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 16px;
    font-size: 1.875rem;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 17px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(25% - 15px);
    grid-template-columns: repeat(4, calc(25% - 15px));
    min-height: 155px;
    grid-gap: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 29px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 10px);
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 257px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-1 {
    width: 60px;
    height: 60px;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.875rem;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-2 {
    width: 60px;
    height: 60px;
  }

  .u-section-3 .u-text-3 {
    font-size: 0.875rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-3 {
    width: 60px;
    height: 60px;
  }

  .u-section-3 .u-text-4 {
    font-size: 0.875rem;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-4 {
    width: 60px;
    height: 60px;
  }

  .u-section-3 .u-text-5 {
    font-size: 0.875rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 449px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 946px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% + 0px);
    grid-template-columns: 100%;
    min-height: 786px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 342px;
}

.u-section-4 .u-text-1 {
  margin: 29px 0 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 30px 0 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 215px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  font-size: 1rem;
  margin: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 215px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  font-size: 1rem;
  margin: 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 215px;
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  font-size: 1rem;
  margin: 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 217px;
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  padding: 0;
}

.u-section-4 .u-text-5 {
  font-size: 1rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 314px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 30px;
    font-size: 1.875rem;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 187px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 187px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 187px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 189px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.875rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-text-3 {
    font-size: 0.875rem;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-text-4 {
    font-size: 0.875rem;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-icon-1 {
    margin-right: 113px;
  }

  .u-section-4 .u-text-5 {
    font-size: 0.875rem;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 305px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-icon-1 {
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 657px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 127px;
}

.u-section-5 .u-btn-1 {
  font-size: 1rem;
  background-image: none;
  padding-left: 25px;
  padding-right: 25px;
  margin: 29px 0 6px auto;
}

.u-section-5 .u-icon-1 {
  font-size: 1.875em;
  margin-left: 10px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-btn-1 {
    --radius: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 121px;
  }

  .u-section-5 .u-btn-1 {
    font-size: 0.875rem;
    margin-right: auto;
    margin-bottom: 1px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 119px;
  }

  .u-section-5 .u-btn-1 {
    margin-bottom: 30px;
  }
}@font-face {
  font-family: 'UNIQAGalano-SemiBold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/UNIQAGalano-SemiBold.woff);
}@font-face {
  font-family: 'UNIQAGalano-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/UNIQAGalano-Regular.woff);
}